name: GOTK3OSX CI

on: [push, pull_request]

jobs:
  test-osx:
    runs-on: macos-latest

    env:
      GOPATH: ${{ github.workspace }}
      GO111MODULE: off
    defaults:
      run:
        working-directory: ${{ env.GOPATH }}/src/github.com/${{ github.repository }}

    strategy:
      fail-fast: false
      matrix:
        go: [ '1.25', '1.24', '1.23' ]

    name: Test go-${{ matrix.go }} (OS X)
    steps:
      - name: checkout
        uses: actions/checkout@v2
        with:
          path: ${{ env.GOPATH }}/src/github.com/${{ github.repository }}
      - name: install OS dependencies
        run: brew install gtk+3 shared-mime-info gtk-mac-integration
      - uses: actions/setup-go@v2
        with:
          go-version: ${{ matrix.go }}
      - name: build
        run: make
